<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>API Platform Boilerplate</title>
    </head>
    <body>
        <h1>Your lucky environment is {{ environment }}</h1>
        <h3>APP Secret: {{ app_secret }}</h3>
    </body>
</html>
